@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


  .slick-prev:before {
    color: black !important;  /* Change the color of the previous arrow */
  }

  .slick-next:before {
    color: black !important;
      /* Change the color of the next arrow */
  }

  @media (max-width: 700px) {
    .slick-prev:before,
    .slick-next:before {
      display: none !important; /* Hide the arrows below 700px */
    }
  }

 .slick-dots button:before{
  color: black !important; /* Change the color of the dots */
  
 }

 .multi-cyan-gradient {
  background: linear-gradient(
    to right,
    #67D8E0,
    #3CB5D8,
    #1A93C1,
    #0B6B9E,
    #054870
  );
}

